* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ), url("./Imagenes/FOTO1.png");
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;*/
}

.logo {
    height: auto;
    cursor: pointer;
}

.containerFa {
    display: flex;
    width: 100%;
}

.header {
    background-color: #1f4675;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

nav {
    margin-bottom: 3%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    background-color: #102c4f;
    border-radius: 5px;
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.content h1 {
    color: #000000;
}

.content p {
    line-height: 1.6;
    font-size: 18px;
}

div {
    width: 400px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

h1 {
    color: #ffffff;
}

.animation {
    background:#293e70 ;
    border: solid 3px #30767e;
    color: #ffffff;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.animation:hover {
    transform: scale(1.1);
    background-color: #000000;
}

.contDeTarjetas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.separar {
    display: flex;
    margin-left: 3%;
    width: 60%;
}

.separar2 {
    display: flex;
    margin-left: 5%;
}

.containter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 50px;
}

.contDeInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}

.contDeInfo > div {
    width: 80%;
}

.separar3 {
    display: flex;
    margin-left: 35%;
}

.scard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 65%;
    background-color: rgba(0, 13, 129, 0.562);
    height: auto;
    border-radius: 50px;
}

.contentscard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}